*{
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Akaya Telivigala', cursive;
}
body{
    /* background-image: url("./img/pexels-miguel-á-padriñán-255379.jpg"); */
    background-size: cover;
     background-image: linear-gradient(180deg, orange, white, green); 
    height: 100vh;
}

.mainitem, .container{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 100%;
    text-align: center;
    padding-top: 4%;
}

.addbtn{
    /* font-family: cursive; */
    font-size: 25px;
    font-weight: bold;
    height: 41px;
    width: 41px;
    background-color: rgb(41, 41, 41);
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.inputfield{
    background-color: white;
    border: none;
    color: black;
    height: 41px;
    width: 40%;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;

}
.editBtn{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: navy;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    font-family: cursive;
    font-weight: bold;
}
.editBtn:hover{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: darkgreen;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    font-family: cursive;
    font-weight: bold;
}
.deleteBtn{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: red;
    font-size: 16px;
    margin-right: 10px;
    outline: none;
    font-family: cursive;
    font-weight: bold;
}
.deleteBtn:hover{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: cornflowerblue;
    font-size: 16px;
    margin-right: 10px;
    outline: none;
    font-family: cursive;
    font-weight: bold;
}
.item{
    height: 25px;
    width: 25%;
    background-color: navy;
    color: white;
    border: none;
    text-align: center;
    border-radius: 16px;
    outline: none;
    /* padding-left: 10px;
    margin-bottom: 10px; */
    margin-top: 10px;
}
.inputfield:hover{
    background-color: white;
    border: none;
    color: black;
    height: 41px;
    width: 40%;
    text-align: justify;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    outline: none;
}
.addbtn:hover{
    
    font-family: cursive;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    width: 45px;
    background-color: rgb(136, 136, 211);
    color: white;
    border: none;
    border-radius: 16px;
    outline: none;
    cursor: pointer;
}
#cod{
    visibility: hidden;
}
#heading{
    margin-top: 22px;
    font-family: cursive;
    /* text-decoration: underline; */
    text-align: center;
}